/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --bgc-head: #add8e6;
    --bgc-nav: #daa520;
    --bgc-jumbo-box: #00008b;
    --bgc-jumbotron: #ee82ee;
    --bgc-figure: #1e90ff;
    --bgc-caption: #ffc0cb;
    --bgc-lightgray: lightgray;
    --bgc-darkgray: #23272a;
    --bgc-bigbox: forestgreen;
    --bgc-social: #f08080;
    --bgc-column: #20b2aa;
    --bgc-foot-color: #7fffd4;
    --fl-basis-small: 20%;
    --fl-basis-medium: 50%;
    --fl-basis-large: 60%;
    --fl-basis-xlarge: 70%;
    --fl-basis-total: 100%;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.h-50 {
    height: 50px;
}

.mtop-10{
    margin-top: 10px;
}

.text-deco {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.center {
    align-items: center;
    justify-content: center;
}

.f-bas-sm {
    flex-basis: var(--fl-basis-small);
}
.f-bas-md {
    flex-basis: var(--fl-basis-medium);
}

.f-bas-lg {
    flex-basis: var(--fl-basis-large);
}

.f-bas-xl {
    flex-basis: var(--fl-basis-xlarge);
}
.f-bas-tot {
    flex-basis: var(--fl-basis-total);
}

/* COLORS BGC */
.bgc-lgray {
    background-color: var(--bgc-lightgray);
}

.bgc-dgray {
    background-color: var(--bgc-darkgray);
}

/* HEADER */
header {
    background-color: var(--bgc-head);
    padding: 5px 0px;
}

#header-menu {
    justify-content: center;
    background-color: var(--bgc-nav);
}

.navbar {
    text-align: center;
}

.login {
    text-align: right;
}

.jumbo-box {
    background-color: var(--bgc-jumbo-box);
    height: 500px;
}

.jumbotron {
    background-color: var(--bgc-jumbotron);
    height: 400px;
}

/* MAIN */
.block-box {
    height: 600px;
}
.block {
    height: 500px;
}

figure {
    height: 100%;
    background-color: var(--bgc-figure);
    flex-basis: 60%;
}

.caption {
    height: 100%;
    flex-basis: 40%;
    background-color: var(--bgc-caption);
}

/* BIG-BLOCK */
.big-box {
    height: 1000px;
}

.big-block {
    height: 900px;
    background-color: var(--bgc-bigbox);
}

/* BIG FOOTER */
#big-footer {
    padding-top: 5px;
}
.social {
    height: 100%;
    background-color: var(--bgc-social);
    flex-basis: 30%;
}

.col-box {
    height: 100%;
    background-color: var(--bgc-column);
}

.column {
    height: 100%;
    flex-basis: calc(var(--fl-basis-total)/4);
    border: 2px dashed white;
}

/* LITTLE FOOTER */
.foot-box {
    height: 90px;
    border-top: 2px solid var(--bgc-lightgray);
    border-bottom: 2px solid var(--bgc-lightgray);
}

.little-foot {
    align-self: flex-end;
    height: 60px;
    background-color: var(--bgc-foot-color);
    justify-content: space-between;
    align-items: center;
}

div.div-button > p {
    padding: 5px;
}