/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.h-50 {
    height: 50px;
}

.mtop-10{
    margin-top: 10px;
}

.text-dec {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.center {
    align-items: center;
    justify-content: center;
}

/* COLORS BGC */
.bgc-lgray {
    background-color: lightgray;
}

/* HEADER */
header {
    background-color: #add8e6;
    padding: 5px 0px;
}

#header-menu {
    justify-content: center;
    background-color: #daa520;
}

.logo {
    flex-basis: 20%;
}

.navbar {
    flex-basis: 60%;
    text-align: center;
}

.login {
    flex-basis: 20%;
    text-align: right;
}

.jumbo-container {
    background-color: #00008b;
    height: 500px;
}

.jumbotron {
    background-color: #ee82ee;
    height: 400px;
    flex-basis: 45%;
}

/* MAIN */
.block-box {
    height: 600px;
}
.block {
    height: 500px;
    flex-basis: 100%;
}

figure {
    height: 100%;
    background-color: #1e90ff;
    flex-basis: 60%;
}

.caption {
    height: 100%;
    flex-basis: 40%;
    background-color: #ffc0cb;
}
